.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
}

.button {
    width: 100%;
}

.select-chef {
    font-size: 13px;
    cursor: pointer;
    color: rgb(130,130,130)
}

.select-chef:hover {
    font-size: 13px;
    text-decoration: underline;
    color: rgb(98,122,255);
}