.restaurant-image {
    background-size: cover;
}

.restaurantPoster-image {
    height: 400px;
}

.content>mat-card {
    width: 200px;
}

.routerLinkClass {
    cursor: pointer;
}

.routerLinkClass:hover {
    text-decoration: underline;
}