<app-loading *ngIf="!Restaurant && !hasError"></app-loading>
<app-error *ngIf="!Restaurant && hasError"></app-error>
<div *ngIf="Restaurant && !hasError" class="content" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center"
    fxLayoutAlign.gt-sm="center start" fxLayoutGap="16px">
    <div fxFlex="50%" fxFlex.gt-sm="25%">
        <mat-card class="mat-elevation-z0">
            <img mat-card-image class="restaurantCover" [src]="Restaurant.imagem" alt="Photo of a {{Restaurant.name}}">
        </mat-card>
        <mat-card class="mat-elevation-z3">
            <mat-card-header>
                <img mat-card-avatar class="chefImage" [src]="Restaurant.chef.imagem"
                    onerror="this.src='./../../../../assets/chef.png'" alt="Photo of a {{Restaurant.chef.name}}">
                <div class="chefName">{{Restaurant.chef.name}}</div>
            </mat-card-header>
        </mat-card>
    </div>
    <div fxFlex="50%" fxFlex.gt-sm="75%">
        <mat-card class="mat-elevation-z0">
            <div class="row">
                <span class="mat-display-1 uppercase-text">{{Restaurant.name}}</span>
                <br>
                <span class="restaurantInfo">{{Restaurant.contact}}</span>
                <br>
                <br>
                <span class="restaurantInfo">{{Restaurant.city}}</span>
                <br>
                <br>
                <span class="restaurantInfo">{{Restaurant.address}}</span>
                <br>
                <span *ngIf="Restaurant.typeFood" class="restaurantInfo">{{Restaurant.typeFood}}</span>
            </div>
        </mat-card>
    </div>
</div>