.content {
    padding: 10px;
}

.restaurantCover {
    height: 400px;
    max-width: 400px;
}

.chefImage {
    background-size: cover;
}

.chefName {
    font-size: 16px;
    margin-top: 10px;
    margin-left: -20px;
}

.uppercase-text {
    text-transform: uppercase;
}

.restaurantInfo {
    font-size: 14px;
    color: rgb(120,120,120);
}
